.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    transition: 0.5s;
    font-size: 1em;
}

.btn:hover {
    color: #52c8ff;
}